<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name=viewport content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Star Whats</title>
  <link rel="stylesheet" href="/css/initial.css">
  <!-- <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet"> -->
</head>
<body>
  <div class="container">
    <h1>Start Whats</h1>
    <div class="users" id="app">
    </div>
  </div>
  <script>
    var __USERS__ = <%- JSON.stringify(users) %>
  </script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/home.js"></script>
</body>
</html>